<div class="panel panel-default">
    <div class="panel-header">菜单修改</div>
    <div class="panel-body">
        <form action="" method="post" class="form form-horizontal responsive" id="menuDetails">
            <div class="panel-body">
                <table cellspacing="0" class="table">
                    <tbody>
                    <tr>
                        <th class="col1">序号：</th>
                        <td class="col2">
                            <div class="formControls col-xs-8">
                                <label type="text">{{menu.id}}</label>
                            </div>
                        </td>
                        <th class="col3">菜名：</th>
                        <td class="col4">
                            <div class="formControls col-xs-8">
                                <input type="text" class="input-text" name="name" id="name" ng-value="menu.greensName" 
                                       ng-model="greensName">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th class="col3">价格（元）：</th>
                        <td class="col4">
                            <div class="formControls col-xs-8">
                                <input type="number" class="input-text" name="price" id="price" ng-value="menu.price" ng-model="price">
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="row cl">
                <div class="col-xs-8 col-xs-offset-3">
                    <button class="btn btn-secondary radius" type="button" ng-click="updateMenu()">&nbsp;&nbsp;修改&nbsp;&nbsp;</button>
                    <a href="#/menu" class="btn btn-secondary radius" style="position: relative;left: 25%">&nbsp;&nbsp;返回&nbsp;&nbsp;</a>
                </div>
            </div>
        </form>
    </div>
</div>