<div class="panel panel-default mt-20">
    <div class="panel-header">正在进行</div>
    <div class="panel-body">
        <table class="table table-border table-bordered table-striped mt-20">
            <thead>
            <tr>
                <th class="col1">序号</th>
                <th class="col2">桌号</th>
                <th class="col3">订菜数量</th>
                <th class="col4">上菜数量</th>
                <th class="col5">开始时间</th>
                <th class="col6">等待时间</th>
                <th class="col7">总金额(元)</th>
                <th class="col8">操作</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="x in indents">
                <td class="col1">{{$index+1}}</td>
                <td class="col2">{{x.tableId}}</td>
                <td class="col3">{{x.reserveNumber}}</td>
                <td class="col4">{{x.fulfillNumber}}</td>
                <td class="col5">{{x.beginTime}}</td>
                <td class="col6">{{x.waitTime}}</td>
                <td class="col7">{{x.price}}</td>
                <td class="col8"><a ng-href="#/underwayDetails/{{x.id}}" class="btn btn-primary radius">详情</a>
                    <a ng-href="#/underwayCarry/{{x.id}}" class="btn btn-success radius">结算</a>
                    <button class="btn btn-danger radius" type="button" ng-click="cancel(x.id)">取消</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>