<div class="panel panel-default">
    <div class="panel-header">详情</div>
    <div class="panel-body">
        <form action="" method="post" class="form form-horizontal responsive" id="indentDetails">
            <div class="row cl">
                <label class="form-label col-xs-3">序号：</label>
                <div class="formControls col-xs-8">
                    <label type="text">{{indent.id}}</label>
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-3">桌号：</label>
                <div class="formControls col-xs-8">
                    <input type="text" class="input-text" name="table" id="table" value="{{indent.tableId}}">
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-3">催单次数：</label>
                <div class="formControls col-xs-8">
                    <input type="text" class="input-text" name="reminderNumber" id="reminderNumber" value="{{indent.reminderNumber}}">
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-3">总价(元)：</label>
                <div class="formControls col-xs-8">
                    <input type="text" class="input-text" autocomplete="off" name="price" id="price" value="{{indent.price}}">
                </div>
            </div>
            <div class="panel panel-default mt-20">
                <div class="panel-header">菜单</div>
                <div class="panel-body">
                    <table class="table table-border table-bordered table-striped mt-20">
                        <thead>
                        <tr>
                            <th class="col1">序号</th>
                            <th class="col2">菜名</th>
                            <th class="col3">菜品订购数量</th>
                            <th class="col4">菜品上菜数量</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="x in reserve">
                            <td class="col1">{{$index+1}}</td>
                            <td class="col2">{{x.name}}</td>
                            <td class="col3">
                                <div class="formControls skin-minimal col-xs-5">
                                    <input type="text" class="input-text" name="table" value="{{x.count}}" ng-blur="getPrice(x.id)"
                                           id="{{x.id}}">
                                </div>
                            </td>
                            <td class="col4">
                                <div class="formControls skin-minimal col-xs-5">
                                    <input type="text" class="input-text" name="table" value="{{x.number}}">
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row cl">
                <div class="col-xs-8 col-xs-offset-3">
                    <!--交给AngularJS处理-->
                    <button class="btn btn-success-outline radius" ng-click="update()"
                            >&nbsp;&nbsp;更改&nbsp;&nbsp;</button>
                    <a href="#/underway" class="btn btn-secondary-outline radius" style="position:relative; left:20%;"
                       >&nbsp;&nbsp;返回&nbsp;&nbsp;</a>
                </div>
            </div>
        </form>
    </div>
</div>