<div class="panel panel-default">
    <div class="panel-header">修改用户</div>
    <div class="panel-body">
        <form action="" method="post" class="form form-horizontal responsive" id="demoform">
            <div class="row cl">
                <label class="form-label col-xs-3">用户昵称：</label>
                <div class="formControls col-xs-8">
                    <input type="text" class="input-text" name="name" id="name" ng-value="user.name" ng-model="name">
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-3">用户名：</label>
                <div class="formControls col-xs-8">
                    <input type="text" class="input-text" name="username" id="username" ng-value="user.username" ng-model="username">
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-3">密码：</label>
                <div class="formControls col-xs-8">
                    <input type="text" class="input-text" autocomplete="off" name="password" id="password" ng-model="password" ng-value="user.password">
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-3">最近一次签到时间：</label>
                <div class="formControls col-xs-8">
                    <label type="text">{{lastSignTime}}</label>
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-3">注册时间：</label>
                <div class="formControls col-xs-8">
                    <input type="text" class="input-text" autocomplete="off" name="joinTime" id="joinTime" ng-model="joinTime" ng-value="user.joinTime">
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-3">用户类型：</label>
                <div class="formControls skin-minimal col-xs-5">
                    <div class="radio-box">
                        <input type="radio" id="waiter" name="userType" ng-checked="user.style=='1';" ng-click="checked(1)">
                        <label for="waiter">服务员</label>
                    </div>
                    <div class="radio-box">
                        <input type="radio" id="administrator" name="userType" ng-checked="user.style=='0';" ng-click="checked(0)">
                        <label for="administrator">管理员</label>
                    </div>
                </div>
            </div>
            <div class="row cl">
                <div class="col-xs-8 col-xs-offset-3">
                    <input class="btn btn-danger-outline radius" type="submit" value="&nbsp;&nbsp;修改&nbsp;&nbsp;" ng-click="updateUser()">
                    <a class="btn btn-secondary-outline radius" href="#/user" style="position: relative;left: 10%">&nbsp;&nbsp;返回&nbsp;&nbsp;</a>
                </div>
            </div>
        </form>
    </div>
</div>