<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="h-ui/css/H-ui.min.css" />
    <link rel="stylesheet" type="text/css" href="lib/Hui-iconfont/1.0.8/iconfont.min.css" />
</head>
<body ng-app="app" ng-controller="MainController">
<header class="navbar-wrapper">
    <div class="navbar navbar-fixed-top" style="background-color:dodgerblue">
        <div class="container cl">
            <nav class="nav navbar-nav nav-collapse" role="navigation" id="Hui-navbar">
                <ul class="cl">
                    <li class="current"> <a href="main.html" target="_blank" style="color: white">首页</a> </li>
                    <li class="dropDown dropDown_hover"> <a href="javascript:" class="dropDown_A" style="color: white">餐厅运营实况<i class="Hui-iconfont">&#xe6d5;</i></a>
                        <ul class="dropDown-menu menu radius box-shadow">
                            <li> <a href="#/underway" >正在进行的</a> </li>
                            <li> <a href="#/finished" >已完成的</a> </li>
                            <li><a href="#/canceled">已经取消的</a></li>
                        </ul>
                    </li>
                    <li> <a href="#/menu" style="color: white">菜单管理</a> </li>
                    <li> <a href="#/vip" style="color: white">会员管理</a> </li>
                    <li> <a href="#/user" style="color: white">用户管理</a> </li>
                    <li class="dropDown dropDown_hover"> <a href="javascript:" class="dropDown_A" style="color: white">统计分析<i class="Hui-iconfont">&#xe6d5;</i></a>
                        <ul class="dropDown-menu menu radius box-shadow">
                            <li> <a href="#/sales">销售分析</a> </li>
                            <li> <a href="#/bill">账套管理</a> </li>
                            <li><a href="#/income">损益表分析</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <nav class="navbar-userbar hidden-xs"> </nav>
        </div>
    </div>
</header>
<div ui-view></div>
<!--此处用于设计具体页面的路由模板-->
</body>
<script type="text/javascript" src="lib/angularJS/angular.js"></script>
<script type="text/javascript" src="lib/angularJS/angular-ui-router.js"></script>
<script type="text/javascript" src="lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="/h-ui/js/H-ui.min.js"></script>
<script type="text/javascript" src="lib/jquery.SuperSlide/2.1.1/jquery.SuperSlide.min.js"></script>
<script type="text/javascript" src="lib/jquery.validation/1.14.0/jquery.validate.min.js"></script>
<script type="text/javascript" src="lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="lib/jquery.validation/1.14.0/messages_zh.min.js"></script>
<!--stomp相关-->
<script type="text/javascript" src="js/stomp.js"></script>
<script type="text/javascript" src="js/sockjs.min.js"></script>
<script type="text/javascript" src="js/functionUtil.js"></script>
<script type="text/javascript">
     /**
     * angularJS开始
     * */
        var app = angular.module('app',['ui.router']);
        app.controller('SalesController',function ($scope, $rootScope, $http) {
            $http.get('/analyze',{}).success(function (data) {
                $scope.analyze=data;
                $rootScope.analyze=data;
            }).error(function () {
                alert("网络连接异常");
            });
        });
        app.controller('CanceledDetailsController',function ($stateParams,$http,$scope,$rootScope) {
            var id=Number($stateParams.id);
            var canceled=$rootScope.canceled;
            for (var i=0;i<canceled.length;i++){
                if (canceled[i].id==id){
                    $scope.canceled=canceled[i];
                    $scope.reserve=canceled[i].reserve;//取出菜单赋值给scope
                    break;
                }
            }
        });
        app.controller('CanceledController',function($rootScope,$scope,$http,stringService){
            $http.get('canceled/1',{}).success(function (data) {
                //获得等待时间，获得订菜菜单
                for (var i=0;i<data.length;i++){
                    var first=Number(data[i].firstTime);
                    var begin=Number(data[i].beginTime);
                    var waitTime=round((first-begin)/1000);
                    data[i].waitTime=timeToString(waitTime);
                    var reserve=stringService.convertString(data[i].reserve,data[i].fulfill);
                    data[i].reserve=reserve;
                }
                $scope.canceled=data;
                $rootScope.canceled=data;
            }).error(function () {
                alert("服务器暂时无法响应");
            });
        });
        app.controller('FinishedController',function($rootScope,$scope,$http,stringService){
            $http.get('finished/1',{}).success(function (data) {
                for (var i=0;i<data.length;i++){
                    var first=Number(data[i].firstTime);
                    var begin=Number(data[i].beginTime);
                    var waitTime=round((first-begin)/1000);
                    data[i].waitTime=timeToString(waitTime);
                    var reserve=stringService.convertString(data[i].reserve,data[i].fulfill);
                    data[i].reserve=reserve;
                }
                $scope.finished=data;
                $rootScope.finished=data;
            }).error(function () {
                alert("服务器暂时无法响应");
            });
        });
        app.controller('FinishedDetailsController',function ($stateParams,$http,$scope,$rootScope,$state) {
            var id=Number($stateParams.id);
            var finished=$rootScope.finished;
            for (var i=0;i<finished.length;i++){
                if (finished[i].id==id){
                    $scope.finished=finished[i];
                    $scope.reserve=finished[i].reserve;//取出菜单赋值给scope
                    break;
                }
            }
            
        });
    /**
     * 与UI相关的JS
     * */
    $(function(){
        //checkbox 美化
        $('.skin-minimal input').iCheck({
            checkboxClass: 'icheckbox-blue',
            radioClass: 'iradio-blue',
            increaseArea: '20%'
        });
        //日期插件
        $("#joinTime").datetimepicker({
            format: 'yyyy-mm-dd',
            minView: "month",
            todayBtn:  1,
            autoclose: 1,
            endDate : new Date()
        }).on('hide',function(e) {
            //此处可以触发日期校验。
        });
        /*+1 -1效果*/
        //编写控制器时，应该将其置于指定的控制器中
        $("#underway_reserve").Spinner({value:1, min:1, len:2, max:99});
        $("#underway_fulfil").Spinner({value:1, min:1, len:2, max:99});
        $("#reserve11").Spinner({value:8,min:1,len:2,max:99});
        //返回顶部
        $(window).on("scroll",backToTopFun);
        backToTopFun();
    });
    //弹窗
    function modaldemo(){
        $("#modal-demo").modal("show");
    }
</script>
<script type="text/javascript" src="UnderwayCarryController.js"></script>
<script type="text/javascript" src="UnderwayAllController.js"></script>
<script type="text/javascript" src="angularService.js"></script>
<script type="text/javascript" src="MenuVipController.js"></script>
<script type="text/javascript" src="UserController.js"></script>
</html>